.p-Cormorant{
  font-family: var(--font-base);
  color: #fff;
  font-weight: 600;
}
p{
  @apply text-[12px] md:text-[16px];
}
.p-openSans{
  line-height: var(--lineHeight);
}
.button{
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  font-family: var(--font-base);
  font-weight: 600;
  text-transform: capitalize;
}
.section-background{
  background-image: url(./assets/bg.png);
  background-attachment: fixed;
  background-size: cover;

}
.gallery-images::-webkit-scrollbar{
  display: none;
}
.gallery-images{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

